body {
    margin: 0;
    background: #000;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

.fullscreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.hidden {
    display: none;
}

.logo-large {
    width: 250px;
    margin-bottom: 20px;
}

button {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: none;
    background: crimson;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.spider {
    font-size: 50px;
    margin-top: 20px;
}
